<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/owners/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b status-available" href="/owners/filters/available">Available</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Add New Owner</h2>
</div>

<form class="form" action="/owners/<%= @owner.id() %>" method="post">
  <div>
    <label for="name">Name *</label>
    <input id="name" type="text" name="name" value="<%= @owner.name() %>" required>
  </div>

  <div>
    <label for="capacity">Animals capacity *</label>
    <input id="capacity" type="number" name="capacity" value="<%= @owner.capacity() %>" min="1" max="100" required>
  </div>

  <button class="btn" type="submit">Save Changes</button>
</form>
