<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__lis-a btn-nav-b" href="/owners/new">New</a></li>
    <li class="navbar__li"><a class="navbar__lis-a btn-nav-b" href="/owners/filters/available">Available</a></li>
  </ul>
</nav>

<h2>All Owners</h2>

<ul>
  <% @owners.each() do |owner| %>
    <li>
      <p>Name: <%= owner.name() %></p>
      <p>Adopted animal: <%= owner.get_owned_animal() ? owner.get_owned_animal().name() : "None" %></p>
      <a href="/owners/<%= owner.id %>">Show</a>
    </li>
  <% end %>
</ul>
