<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__lis-a btn-nav-b" href="/owners/new">New</a></li>
    <li class="navbar__li"><a class="navbar__lis-a btn-nav-b" href="/owners/filters/available">Available</a></li>
  </ul>
</nav>

<h2>Add New Owner</h2>

<form action="/owners" method="post">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" value="">

  <input type="submit" name="" value="Add Owner">
</form>
