<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__lis-a btn-nav-b" href="/owners/new">New</a></li>
    <li class="navbar__li"><a class="navbar__lis-a btn-nav-b" href="/owners/filters/available">Available</a></li>
  </ul>
</nav>

<h2>Show <%= @owner.name() %></h2>

<div class="">
  <p>Name: <%= @owner.name() %></p>
  <p>Adopted animal:
    <% if (@owned_animal) %>
      <a href="/animals/<%= @owned_animal.id() %>"><%= @owned_animal.name() %></a>
    <% else %>
      None
    <% end %>
  </p>
</div>
