<h2>Show <%= @owner.name() %></h2>

<div class="">
  <p>Name: <%= @owner.name() %></p>
  <p>Owned animal:
    <% if (@owned_animal) %>
      <a href="/animals/<%= @owned_animal.id() %>"><%= @owned_animal.name() %></a>
    <% else %>
      None
    <% end %>
  </p>
</div>
