<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/create">Create</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/update">Update</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/delete">Delete</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/owner-change">Owner Change</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Recent <%= @category %> actions</h2>
</div>

<div class="history">
  <ul class="history__ul">
    <% @logs.each() do |log| %>
    <li class="history__li">
      <span class="history__date"><%= log.datetime() %></span>
      <span class="history__message"><%= log.message() %></span>
    </li>
    <% end %>
  </ul>
</div>
