<div class="title">
  <h2 class="title__heading">Last 100 actions</h2>
</div>

<div class="history">
  <ul class="history__ul">
    <% @logs.each() do |log| %>
    <li class="history__li">
      <span class="history__date"><%= log.datetime() %></span>
      <span class="history__message"><%= log.message() %></span>
    </li>
    <% end %>
  </ul>
</div>
