.btn {
  font-size: 12px;
  background-color: #333;
  color: white;
  padding: 7px 12px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #333;
}

.btn:hover {
  background-color: #fefefe;
  border: 1px solid #333;
  color: #333;
  margin-bottom: 0px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-nav {
  font-size: 19px;
  background-color: white;
  color: #333;
  padding: 7px 12px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #333;
}

.btn-nav:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.btn-nav-b {
  font-size: 15px;
  background-color: white;
  color: #333;
  padding: 7px 12px;
  text-decoration: none;
  display: inline-block;
  border: 1px #333 dashed;
}

.btn-nav-b:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
