.form {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input,
.form select {
  margin: 0 auto 15px;
  padding: 5px 7px;
}

.form input[type="radio"] {
  margin-left: 10px;
  margin-right: 10px;
}
