.form {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.form__input {
  margin-bottom: 15px;
}

.form__input label {
  display: block;
  margin-bottom: 5px;
}

.form__input input,
.form__input select {
  height: 18px;
  padding-left: 7px;
  padding-right: 7px;
}
