.profile {
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  margin: 10px;
  background-color: white;
}

.profile__header {

}

.profile__img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.profile__body {
  padding: 10px 20px;
}

.profile__name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 23px;
}

.profile__footer {
  padding: 10px;
  padding-top: 0;
}
