.title {
  text-align: center;
  position: relative;
}

.title__heading {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title__search {
  display: inline-block;
  position: absolute;
  right: 15px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.title__search-input {
  height: 21px;
  padding-left: 10px;
  padding-right: 10px;
  width: 120px;
}

@media all and (max-width: 480px) {
  .title__search {
    display: block;
    position: initial;
  }
}
