<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/unavailable">Unavailable</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/available">Available</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/adopted">Adopted</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Add New Animal</h2>
</div>

<form class="form" action="/animals" method="post">
  <div class="form__input">
    <label for="name">Name *</label>
    <input id="name" type="text" name="name" value="" required>
  </div>

  <div class="form__input">
    <label for="type">Type </label>
    <input id="type" type="text" name="type" value="">
  </div>

  <div class="form__input">
    <label for="admission-date">Admission date *</label>
    <input id="admission-date" type="text" name="admission_date" value="" required>
  </div>

  <div class="form__input">
    <label for="available-for-adoption">Available for adoption </label>
    <select id="available-for-adoption" name="available_for_adoption">
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
  </div>

  <input class="btn" type="submit" name="" value="Add Animal">
</form>
