<nav class="navbar">
  <ul class="navbar__list navbar__list-b">
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/unavailable">Unavailable</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/available">Available</a></li>
    <li class="navbar__li"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/adopted">Adopted</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Add New Animal</h2>
</div>

<form class="form" action="/animals" method="post">
  <label for="name">Name *</label>
  <input id="name" type="text" name="name" value="" required>


  <label for="type">Type </label>
  <input id="type" type="text" name="type" value="">

  <label for="image-url">Image URL </label>
  <input id="image-url" type="text" name="image_url" value="">

  <label for="admission-date">Admission date *</label>
  <input id="admission-date" type="text" name="admission_date" value="" placeholder="DD/MM/YYYY" required>

  <label for="available-for-adoption">Available for adoption </label>
  <select id="available-for-adoption" name="available_for_adoption">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>

  <button class="btn" type="submit">Add Animal</button>
</form>
