<div class="title">
  <h2 class="title__heading">Animals</h2>
</div>

<nav class="navbar">
  <ul class="navbar__list navbar__list--column text-center">
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/animals/new">New</a></li>
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/unavailable">Unavailable</a></li>
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/available">Available</a></li>
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/animals/filters/adopted">Adopted</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">Owners</h2>
</div>

<nav class="navbar">
  <ul class="navbar__list navbar__list--column text-center">
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/owners/new">New</a></li>
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/owners/filters/available">Available</a></li>
  </ul>
</nav>

<div class="title">
  <h2 class="title__heading">History</h2>
</div>

<nav class="navbar">
  <ul class="navbar__list navbar__list--column text-center">
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/create">Create</a></li>
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/update">Update</a></li>
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/delete">Delete</a></li>
    <li class="navbar__li navbar__li--column"><a class="navbar__li-anchor btn-nav-b" href="/history/filters/owner-change">Owner Change</a></li>
  </ul>
</nav>
