<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Aurimas Animal Shelter</title>

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/site-identity.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/profile-full.css">
    <link rel="stylesheet" href="/css/btn.css">
    <link rel="stylesheet" href="/css/title.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/search-suggestions.css">
    <link rel="stylesheet" href="/css/status.css">
    <link rel="stylesheet" href="/css/history.css">
  </head>
  <body>
    <header class="site-identity">
      <img height="20px" width="auto" src="/images/logo.png" alt="animal shelter logo">
      <h1 class="site-identity__name">Aurimas Animal Shelter</h1>
    </header>

    <nav class="container navbar">
      <ul class="navbar__list navbar__list--a">
        <li class="navbar__li"><a class="navbar__li-anchor btn-nav" href="/">Home</a></li>
        <li class="navbar__li"><a class="navbar__li-anchor btn-nav" href="/animals">Animals</a></li>
        <li class="navbar__li"><a class="navbar__li-anchor btn-nav" href="/owners">Owners</a></li>
        <li class="navbar__li"><a class="navbar__li-anchor btn-nav" href="/history">History</a></li>
      </ul>
    </nav>

    <main class="container">
      <%= yield() %>
    </main>
  </body>
</html>
