<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Animal Shelter</title>

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/profile-a.css">
    <link rel="stylesheet" href="/css/btn.css">
  </head>
  <body>
    <h1>Animal Shelter</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">Animals</a></li>
        <ul>
          <li><a href="/animals/new">New</a></li>
          <li><a href="/animals/filters/unavailable">Unavailable</a></li>
          <li><a href="/animals/filters/available">Available</a></li>
          <li><a href="/animals/filters/adopted">Adopted</a></li>
        </ul>
        <li><a href="/owners">Owners</a></li>
        <ul>
          <li><a href="/owners/new">New</a></li>
          <li><a href="/owners/filters/available">Available</a></li>
        </ul>
      </ul>
    </nav>
    <div class="container">
      <%= yield() %>
    </div>
  </body>
</html>
