<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>Animal Shelter</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">All Animals</a></li>
        <ul>
          <li><a href="/animals/new">New Animal</a></li>
          <li><a href="/animals/filters/available">Available for adoption</a></li>
          <li><a href="/animals/filters/unavailable">Adopted</a></li>
        </ul>
        <li><a href="/owners">All Owners</a></li>
        <ul>
          <li><a href="/owners/new">New Owner</a></li>
        </ul>
      </ul>
    </nav>
    <%= yield() %>
  </body>
</html>
